<div class="navegacion">
    <h1 class="h1">MyBooks</h1>
    <nav class="nav">
        <a routerLink="/home" class="home">Home</a>
        <a routerLink="/books" class="books">Books</a>
        <a routerLink="/update-book" class="addbook">UpdateBook</a>
        <a routerLink="/addbook" class="addbook">AddBook</a>
        <a routerLink="/register" class="register">Register</a>
        <a routerLink="/profile" class="profile">Profile</a>
        <a routerLink="/login" class="login">Login</a>
    </nav>
</div>

  
