.padre{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../../../assets/img/img2.jpg');
  background-size: cover; /* fondo imagen entero */
  background-position: center; /* imagen centro */
}

  .card {
      border: 1px solid #ccc;
      padding: 10px;
      margin: 10px;
      margin-top: 3vh;
      margin-left: 3vh;
      
    }

    .card h3{
      margin-top: 4vh;
      margin-bottom: 2vh;
    }

    .card p{
      margin-bottom: 1vh;
    }

    .card-container {
      display: grid; /*para que cards y form no se junten*/
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* para ajustar el ancho */
      gap: 20px; /* espacio entre tarjetas */
    }

    .card-container img{
      width: 25vh;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    }
  
    .even-card {
      background-color: #f0f0f0;
    }
    
    .odd-card {
      background-color: #ffffff;
    }

  
    .buy-button-even {
      background-color: rgb(84, 158, 84);
      color: white;
      width: 100%;
      height: 5vh;
      border-radius: 5vh;
    }
    
    .buy-button-odd {
      background-color: rgb(41, 65, 41);
      color: white;
      width: 100%;
      height: 5vh;
      border-radius: 5vh;
    }

    .buy-button-even, .buy-button-odd{
      transition: background-color 0.3s ease;
    }
    
    .buy-button-odd:hover {
      background-color: rgb(21, 34, 21);
      text-decoration: underline;
    }

    .buy-button-even:hover{
      background-color: rgb(51, 94, 51);
      color: black;
      text-decoration: underline;
    }
  

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 236, 154, 0.452);
    margin-top: 10vh;
  }
  
    .form form {
      width: 200px;
    }
    

    .form h2,
    .form input,
    .form label{
      display: flex;
      flex-direction: column;
    }

    .form label{
      font-weight: bold;
    }
    
    .form input{
      background-color: rgba(0, 0, 0, 0.5);
      color: aliceblue;
      width: 30vh;
      height: 5vh;
      border-radius: 1vh;
      margin-bottom: 2vh;
    }

    .form h2{
      margin-bottom: 2vh;
    }

    .form button{
      margin-top: 3vh;
      width: 90%;
      height: 5vh;
      border-radius: 5vh;
      background-color: rgb(116, 160, 95);
      color: aliceblue;
      transition: background-color 0.3s ease;
    } 
    
    .form button:hover {
      background-color: rgb(76, 138, 76);
      color: black;
      text-decoration: underline;
    }