<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBooks - Books</title>
</head>
<body>
    <app-header></app-header>

<div class="padre">
<div *ngIf="books.length > 0; else mensajeNoBooks"> <!--si el array books esta vacio saldra el valor de mensajeNoBooks-->
  <div class="card-container">
    <div class="card" *ngFor="let book of books; let even = even" [ngClass]="{ 'even-card': even, 'odd-card': !even }">
      <!--iteramos sobre el array books con ngfor // creamos variable even sera true si la card es even y false si odd // ngclass para que si la card es par(true) se llame 'even-card' y si es impar(false) sera 'odd-card'-->
      <img [src]="book.photo"/>
      <h3>{{ book.title }}</h3>
      <p>Id Book: {{ book.id_book | idbook }}</p> <!--pipe (| idbook) para que salga Ref- y el numero del id-->
      <p>Id User: {{ book.id_user }}</p>
      <p>Type: {{ book.type }}</p>
      <p>Author: {{ book.author }}</p>
      <p>Price: {{ book.price }}€</p>
      <button [ngClass]="{'buy-button-even' : even, 'buy-button-odd' : !even}">Comprar</button>
      <!--volvemos a let even = even. si la card es even, el boton se llamara 'buy-button-even, si no lo es sera 'buy-button-odd'-->
    </div>
  </div>
</div>

<div class="form">
    <h2>Añade tus libros</h2>
    <form (submit)="addlibro()">
      <label for="imagen">URL imagen</label>
      <input type="text" id="imagen" name="imagen" [(ngModel)]="newBook.photo" required>
      <!--ngmodel se usa para vincular el valor que le damos a xejem. newbook.photo con esa propiedad-->
      
      <label for="title">Title</label>
      <input type="text" id="title" name="title" [(ngModel)]="newBook.title" required>

      <label for="id_book">Id Book</label>
      <input type="number" id="id_book" name="id_book" [(ngModel)]="newBook.id_book">

      <label for="id_user">Id User</label>
      <input type="number" id="id_user" name="id_user" [(ngModel)]="newBook.id_user">

      <label for="type">Type</label>
      <input type="text" id="type" name="type" [(ngModel)]="newBook.type" required>

      <label for="author">Author</label>
      <input type="text" id="author" name="author" [(ngModel)]="newBook.author" required>

      <label for="price">Price</label>
      <input type="text" id="price" name="price" [(ngModel)]="newBook.price" required>
  
      <button type="submit">Añadir libro</button>
    </form>
  </div>
</div>
  

<ng-template #mensajeNoBooks>
  <p>No hay libros disponibles.</p>
</ng-template>
<!--este es el valor de mensajeNoBooks, si array books esta vacio saldra el mensaje-->

    <app-footer></app-footer>
</body>
</html>