.footer{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(60, 17, 109, 0.815);
    padding: 25px 25px;
}

    .links{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 3vh;
    }

        .insta,
        .twitter,
        .tiktok{
            text-decoration: none;
            color: aliceblue;
        }

        .insta:active,
        .twitter:active,
        .tiktok:active {
            color: rgba(240, 248, 255, 0.637);
            position: relative;
        }

        .insta:hover::before{
            content: "📷";
            position: absolute;
            left: -22px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 16px;
        }

        .twitter:hover::before{
            content: "🐤";
            position: absolute;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 16px;
        }

        .tiktok:hover::before{
            content: "🎵";
            position: absolute;
            left: -24px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 16px;
        }