<div class="contenido_Books">
  <div class="formulario">


    <form [formGroup]="libroForm" (ngSubmit)="modificarlibro()">

      <div class="formEditar">
        <input type="text" placeholder="Id BooK" formControlName="id_book">
        <input type="text" placeholder="title" formControlName="title">
        <input type="text" placeholder="type" formControlName="type">
        <input type="text" placeholder="author" formControlName="author">
        <input type="text" placeholder="price" formControlName="price">
        <input type="text" placeholder="photo" formControlName="photo">
      </div>

      <div class="botonesFormulario">
        <button type="submit"> Modificar libro</button>
      </div>

    </form>
     <!--  <form>
          <div class="form1">
              <div class="tituloForm"><h1>Modificar Libro</h1></div>
          </div>
     
          <div class="formEditar">
              <input type="text" placeholder="ID Book" #id >
                      
              <input type="text" placeholder="Título" #title >
                    
              <input type="text" placeholder="Tapa blanda/dura" #type>
      
              <input type="text" placeholder="Autor" #author>
      
              <input type="number" placeholder="Precio" #price>
      
              <input type="text" placeholder="Foto" #photo>
          </div>

      </form> -->

     
  </div>
</div>













  <!-- <div class="padre">
    <div class="form">
        <h2>Modifica tus libros</h2>
        <form (submit)="modificarlibro()">
          <label for="imagen">URL imagen</label>
          <input type="text" id="imagen" name="imagen" [(ngModel)]="updateBook.photo" required>
          <ngmodel se usa para vincular el valor que le damos a xejem. newbook.photo con esa propiedad-->
          
          <!-- <label for="title">Title</label>
          <input type="text" id="title" name="title" [(ngModel)]="updateBook.title" required>
    
          <label for="id_book">Id Book</label>
          <input type="number" id="id_book" name="id_book" [(ngModel)]="updateBook.id_book">
     -->
          <!-- <label for="id_user">Id User</label>
          <input type="number" id="id_user" name="id_user" [(ngModel)]="updateBook.id_user">
    
          <label for="type">Type</label>
          <input type="text" id="type" name="type" [(ngModel)]="updateBook.type" required>
     -->
          <!-- <label for="author">Author</label>
          <input type="text" id="author" name="author" [(ngModel)]="updateBook.author" required>
    
          <label for="price">Price</label>
          <input type="text" id="price" name="price" [(ngModel)]="updateBook.price" required>
       -->
          <!-- <button type="submit">Modificar libro</button>
        </form>
      </div>
    </div> -->
