<div class="padre">
    <div class="contenedorform">
        <form class="form">

            <h3 class="h3">¡Únete a nosotros!</h3>

            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Escribe tu nombre">

            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos" id="apellidos" placeholder="Ahora tus apellidos">

            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Turno del email">

            <label for="url">URL</label>
            <input type="url" name="url" id="url" placeholder="Introduce una url">

            <label for="contra">Contraseña</label>
            <input type="text" name="contra" id="contra" placeholder="Crea una contraseña">

            <label for="repcontra">Repite tu contraseña</label>
            <input type="text" name="repcontra" id="repcontra" placeholder="Tienes que repetirla😔">

            <button class="boton">Registrarse</button>
        </form>
    </div>
</div>
